/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
}
  
/* Reiknum stærð á öllum boxum sem border-box */
html {
    box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Almennt */

/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
    font-size: 16px;
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
    font-family: 'Matemasie';
    src: url(fonts/Matemasie-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: bold;
    font-weight: 700;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
    font-family: OpenSans;
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
    font-family: Matemasie;
}

.forsidumynd {
    display: inline;
    max-width: 25em;
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
    max-width: 100%;
    border-radius: 1em;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
    color: inherit;
}

/**
* Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
* Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
* sem grunn og án breytinga.
* Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
* innan <body>.
*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    background-color: #f3dd99;
}

.wrapper main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */

/** Haus á síðum **/

header {
    background-color: #cc99bb;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/** Valmynd **/

nav {
    display: inline-block;
    width: 100%;
    background-color: #eebbdd;
    border-bottom: 4px solid #cc99bb;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;
}

/* Valin síða í nav t.d. verður bold*/
strong {
    font-family: OpenSans;
    font-style: bold;
}

/* TODO Skilgreina aðra selectora fyrir valmynd */

/** Meginmál og efni forsíðu **/

main {
    /* TODO Skilgreina */
}

/* TODO Skilgreina aðra selectora fyrir meginmál of forsíðu */

/** Fótur **/

footer {
    /* TODO Skilgreina */
    background-color: #eebbdd;
    border-top: 4px solid #cc99bb;
    text-align: center;
}

/* Ef við notum section fyrir hvert svæði undir fót, þá er hægt að nota eftirfarandi */
footer > section {
    display: inline-block;
    /* Lætur efni byrja efst í línu, almennt myndum við nota flexbox hér! */
    vertical-align: top;
    /* TODO fleiri skilgreiningar */
}

footer ul {
    list-style: none;
    
}

footer dt {
    font-weight: bold;
}

/* TODO Skilgreina aðra selectora fyrir fót */

/** Spilasíða, töflustílar **/

table {
    /* TODO Skilgreina */
}

/* TODO Skilgreina aðra selectora fyrir töflu */

/** Viðburðir **/

.event {
    /* TODO Skilgreina, gerum ráð fyrir að hver viðburður hafi eigin selector */
}

/* TODO Skilgreina aðra selectora fyrir viðburði */

/** Skráningarform **/

/* TODO Skilgreina */
